/*
  techmunchies hand-crafted CSS
  Faster, easier to edit, and no libraries needed
 */

/* Variables */
:root {
  /* Colors */
  --site-bg-color: #ccc;
  --main-bg-color: #3b424d;
  --selection-bg-color: #99a6b2;
  --text-color: #ccc;
  --text-shadow: #3b424d;

  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    Helvetica, Arial, sans-serif;

  /* Link Transitions */
  --link-duration: .2s;
  --link-distance: 8px;
  --link-ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

@media (prefers-color-scheme: light) {
  :root {
    --site-bg-color: #3b424d;
    --main-bg-color: #ccc;
  }
}

::selection {
  background-color: var(--selection-bg-color);
}

html, body {
  background-color: var(--site-bg-color);
  font-family: var(--font-family);
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

/* Site */
.site {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Header */
nav {
  align-items: stretch;
  display: flex;
  position: relative;
  z-index: 30;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
}

nav a:active,
nav a:hover,
nav a:focus {
  color: white;
}

nav .nav-container {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: 3.25rem;
}

nav .nav-container a.nav-brand {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5;
  padding: 1rem 1.25rem;
  position: relative;
}

nav .nav-container .mobile-menu {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  z-index: 1;
}

nav .nav-container .mobile-menu-button {
  cursor: pointer;
  display: block;
  height: 3.25rem;
  margin-left: auto;
  opacity: 0;
  position: relative;
  text-decoration: none;
  user-select: none;
  width: 3.25rem;
  z-index: 2;
}

nav .nav-container .mobile-menu-bar {
  background-color: currentColor;
  color: var(--text-color);
  display: block;
  height: 2px;
  position: absolute;
  right: 7%;
  transform-origin: center;
  transition:
    transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  width: 16px;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  nav .nav-container .mobile-menu-button,
  nav .nav-container .mobile-menu-bar {
    display: none;
  }
}

nav .nav-container .mobile-menu-bar:first-of-type {
  top: calc(50% - 6px);
}

nav .nav-container .mobile-menu-bar:nth-of-type(2) {
  top: calc(50% - 1px);
}

nav .nav-container .mobile-menu-bar:nth-of-type(3) {
  top: calc(50% + 4px);
}

nav .nav-container .mobile-menu-button:checked ~ .mobile-menu-bar:first-of-type {
  transform: translateY(5px) rotate(45deg);
}

nav .nav-container .mobile-menu-button:checked ~ .mobile-menu-bar:nth-of-type(2) {
  opacity: 0;
}

nav .nav-container .mobile-menu-button:checked ~ .mobile-menu-bar:nth-of-type(3) {
  transform: translateY(-5px) rotate(-45deg);
}

nav .nav-links-container {
  display: none;
  transition: max-height .2s ease-out;
}

@media only screen and (min-width: 768px) {
  nav .nav-links-container {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

nav .nav-container .mobile-menu-button:checked ~ .nav-links-container {
  box-shadow: 0 8px 16px rgba(10,10,10,.1);
  display: block;
  left: 0;
  position: absolute;
  top: 2.2rem;
  width: 100%;
}

nav .nav-container .nav-links {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

nav .nav-container .nav-links a {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5;
  padding: 1rem 1.25rem;
  position: relative;
  text-decoration: none;
}

nav .nav-container .nav-links a.active:after {
  background-color: white;
  opacity: 1;
  transform: translateY(0);
  transition: none;
}

nav .nav-container .nav-links a:not(:first-of-type):not(:last-of-type) {
  padding: 1rem .625rem;
}

nav .nav-container .nav-links a:before,
nav .nav-container .nav-links a:before,
nav .nav-container .nav-links a:before {
  background-color: white;
  bottom: 2px;
  content: '';
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transform: translateY(calc(-1 *  var(--link-distance)));
  transition: transform 0s var(--link-ease-out-back), opacity 0s;
}

nav .nav-container .nav-links a:after,
nav .nav-container .nav-links a:after,
nav .nav-container .nav-links a:after {
  background-color: white;
  bottom: 2px;
  content: '';
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transform: translateY(calc(0.5 * var(--link-distance)));
  transition:
    transform var(--link-duration) var(--link-ease-out-back),
    opacity var(--link-duration);
}

nav .nav-container .nav-links a:active:before,
nav .nav-container .nav-links a:hover:before,
nav .nav-container .nav-links a:focus:before {
  opacity: 1;
  transform: translateY(0);
  transition:
    transform var(--link-duration) var(--link-ease-out-back),
    opacity var(--link-duration);
}

nav .nav-container .nav-links a:active:after,
nav .nav-container .nav-links a:hover:after,
nav .nav-container .nav-links a:focus:after {
  opacity: 1;
  transform: translateY(0);
  transition:
    transform 0s var(--link-duration) var(--link-ease-out-back),
    opacity 0s var(--link-duration);
}

/* Main */
.content {
  margin: 0 auto;
  max-width: 480px;
}

@media only screen and (min-width: 768px) {
  .content {
    max-width: 600px;
  }
}

@media only screen and (min-width: 1088px) {
  .content {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1280px) {
  .content {
    max-width: 1152px;
  }
}

@media only screen and (min-width: 1472px) {
  .content {
    max-width: 1344px;
  }
}

/* Footer */
.footer {
  color: var(--text-color);
  font-size: .75rem;
  padding: .5rem;
  text-align: center;
}

/* Home Page */
.home {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.home .title-container {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.home .title-container .title {
  border-bottom: none;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}

.home .title-container .subtitle {
  border-bottom: none;
  color: white;
  font-size: .75rem;
  font-weight: 300;
  line-height: 1.25;
  margin-top: -1.25rem;
}

/* Blog Page */
.blog {
  margin: 3rem 2rem 0 2rem;
}

@media only screen and (min-width: 768px) {
  .blog {
    margin-top: 6.5rem;
  }
}

.blog li {
  color: white;
  list-style-type: none;
  margin: 0 auto;
  max-width: 30em;
  opacity: 0.7;
}

.blog li:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.blog li:last-of-type {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  .blog li:last-of-type {
    margin-bottom: 6rem;
  }
}

.blog li a,
.post .post-container article a {
  box-shadow:
    0 -1px 0 0 var(--text-shadow) inset,
    0 -2px 0 0 transparent inset;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.7;
  text-decoration: none;
  text-shadow:
    0px -2px 0 var(--text-shadow),
    0px -1px 0 var(--text-shadow),
    0px 0px 0 var(--text-shadow),
    2px -2px 0 var(--text-shadow),
    2px -1px 0 var(--text-shadow),
    2px 0px 0 var(--text-shadow),
    -2px -2px 0 var(--text-shadow),
    -2px -1px 0 var(--text-shadow),
    -2px 0px 0 var(--text-shadow),
    1px -2px 0 var(--text-shadow),
    1px -1px 0 var(--text-shadow),
    1px 0px 0 var(--text-shadow),
    -1px -2px 0 var(--text-shadow),
    -1px -1px 0 var(--text-shadow),
    -1px 0px 0 var(--text-shadow),
    0px -2px 0 var(--text-shadow),
    0px -1px 0 var(--text-shadow),
    0px 0px 0 var(--text-shadow);
  transition: all .3s ease-in;
}

.blog li a:active,
.blog li a:focus,
.blog li a:hover,
.post .post-container article a:active,
.post .post-container article a:focus,
.post .post-container article a:hover {
  box-shadow:
    0 -1px 0 0 white inset,
    0 -2px 0 0 var(--text-shadow);
  color: white;
  opacity: 0.9;
  transition: all .3s ease-out;
}

.blog li small {
  display: block;
  font-size: smaller;
  margin-top: 0.3rem;
}

/* Post Page */
.post {
  margin: 4rem auto;
  max-width: 60em;
}

.post .post-container {
  color: white;
  flex: none;
  margin-left: 4.33333%;
  width: 83.33333%;
}

@media only screen and (min-width: 768px) {
  .post .post-container {
    margin-left: 8.33333%;
  }
}

.post .post-container .title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  text-align: center;
  word-break: break-word;
}

@media only screen and (min-width: 768px) {
  .post .post-container .title {
    font-size: 3rem;
    font-weight: 600;
  }
}

.post .post-container .description {
  font-size: 1.5rem;
  margin-bottom: 1em;
  opacity: 0.8;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .post .post-container .description {
    font-size: 2rem;
  }
}

.post .post-container .separator {
  background-color: white;
  margin-left: 0 auto;
  max-width: 33%;
  opacity: .5;
}

.post .post-container .date {
  font-size: 12px;
  letter-spacing: 1.3;
  margin-bottom: 1em;
  opacity: 0.7;
  text-align: center;
}

.post .post-container article {
  color: rgba(255, 255, 255, 0.7);
  max-width: 40em;
  margin: 2rem auto;
}

.post .post-container article a {
  font-size: inherit;
}

.post .post-container article img {
  border-radius: 6px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 3px 8px 0px,
    rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
  max-width: 480px;
}

.post .post-container article img + img {
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .post .post-container article img {
    max-width: 640px;
  }
}

/* Syntax Highlighting */
.highlight pre {
  border-radius: 6px;
  overflow: auto;
  padding: 1rem;
}

/* TODO: Figure out how to override Hugo's syntax processing
.highlight pre code[class*=language-] {
  position: relative;
}

.highlight pre code[class*=language-]:before {
  color: hsla(0, 0%, 100%, .4);
  font-size: .75rem;
  position: absolute;
  right: 1em;
  top: -.5rem;
  z-index: 2;
}

.highlight pre code[class~=language-js]:before {
  content: "js";
}

.highlight pre code[class~=language-html]:before {
  content: "html";
}

.highlight pre code[class~=language-md]:before {
  content: "md";
}
*/

/* Projects Page */
.projects {
  margin: 3rem 2rem 0 2rem;
}

@media only screen and (min-width: 768px) {
  .projects {
    margin: 6rem 0 4rem 0;
  }
}

.projects .project-titles {
  color: white;
}

.projects .project-titles h1.title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  word-break: break-word;
}

@media only screen and (min-width: 768px) {
  .projects .project-titles h1.title {
    font-size: 3rem;
    font-weight: 600;
  }
}

.projects .project-titles .subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.8em;
  opacity: 0.8;
}

@media only screen and (min-width: 768px) {
  .projects .project-titles .subtitle {
    font-size: 2rem;
    margin-bottom: 1.2em;
  }
}

@media only screen and (min-width: 768px) {
  .projects .project-items {
    display: flex;
  }
}

.projects .project-items li {
  list-style-type: none;
  margin-bottom: 2rem;
  padding: .75rem;
}

@media only screen and (min-width: 768px) {
  .projects .project-items li {
    flex-basis: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 0;
  }

  .projects .project-items li:first-of-type {
    padding-left: 0;
  }

  .projects .project-items li:last-of-type {
    padding-right: 0;
  }
}

.projects .project-items a {
  text-decoration: none;
}

.projects .project-items img {
  box-shadow:
    0 3px 8px 0 rgba(0, 0, 0, .4),
    0 0 0 1px rgba(0, 0, 0, .16);
  border: 0;
  max-width: 660px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .projects .project-items img {
    opacity: .7;
    transition: all 0.3s ease-in-out;
  }

  .projects .project-items img:active,
  .projects .project-items img:focus,
  .projects .project-items img:hover {
    box-shadow:
      0 16px 38px -12px rgba(0, 0, 0, .56),
      0 4px 25px 0 rgba(0, 0, 0, .12),
      0 8px 10px -5px rgba(0, 0, 0, .2);
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

.projects .project-items .project-description {
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.125;
  margin-top: 1.5rem;
  opacity: .9;
}

.projects .project-items .project-description:active,
.projects .project-items .project-description:focus,
.projects .project-items .project-description:hover {
  opacity: .7;
  transition: all .3s ease-out;
}
